name: Build & Push to DockerHub with docker image

on:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Write entire .env.production file from one GitHub secret
      - name: Create .env.production from GitHub Secret
        run: |
          echo "${{ secrets.ENV_FILE }}" > .env.production

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t dippreneurlab/salthub-new:latest .

      - name: Push Docker image
        run: |
          docker push dippreneurlab/salthub-new:latest
